{% extends 'base.html' %}


{% block content %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 py-4">
                {% if latest_content_list %}
                    <h2><a href="/" class="text-blue">Django</a></h2>
                    <ul class="list-unstyled" id="id_list">
                        {% for content in latest_content_list %}
                        <li id="li_{{ forloop.counter0 }}"><a href="/read/{{content.id}}" class="text-blue">{{content.title}}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No contents are available.</p>
                {% endif %}
            </div>
        </div>
    </div>
</header>

<main>
    <section class="text-left container">
        <p>{{article | safe }}</p>
    </section>

    <section class="text-left container">
        <ul class="list-unstyled">
            <li><a href="/create/">create</a></li>

            {% if selectedId %}
                {% include "../inc/deleteform.html" %}
            {% endif %}
        </ul>
    </section>

</main>
{% endblock %}

{% block script %}
<script type="text/javascript">
    {% comment %} const nylists = document.querySelector("#id_list").children;

    for (let i = 0; i < nylists.length; i++) {
        var id_str = `#li_${i}`;
        $(id_str).mouseenter(function(){
            $(this).addClass("active");
        });
        $(id_str).mouseleave(function(){
            $(this).removeClass("active");
        });
    } {% endcomment %}

</script>
{% endblock %}
